body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    font-size: 32px;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    color: #333;
}

.receita {
    border: 1px solid #ddd;
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.receita h2 {
    font-size: 24px;
    margin: -10px 0 10px; /* Ajuste a margem superior para movê-lo um pouco acima */
    color: #333;
}

.receita img {
    width: 100%;
    max-height: 300px;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 15px;
}

/* Restante do seu código CSS... */


.receita p {
    margin: 10px 0;
    color: #666;
}

.receita a {
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
}

.receita a:hover {
    background-color: #45a049;
}
