body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    font-size: 32px;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    color: #333;
}

.receita {
    border: 1px solid #ddd;
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
    position: relative;
}

.receita:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.receita h2 {
    font-size: 24px;
    margin: 0;
    color: #333;
}

.receita p {
    margin: 10px 0;
    color: #666;
}

.receita img {
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}






header {
    background-color: #FF8762;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 28px;
}

header img {
    height: 125px;
    width: auto;
    margin-right: 10px;
    vertical-align: middle;
}

.btn-container {
    display: flex;
}

.btn {
    display: inline-block;
    background-color: #4CAF50;
    padding: 12px 24px;
    margin: 10px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    color: white;
}


.btn:hover {
    background-color: #45a049;
}

.receita form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    
        position: relative; /* Certifique-se de que .receita tenha uma posição relativa para posicionar .btn-denunciar corretamente */
   
}

.receita form .btn-curtir,
.receita form .btn-denunciar,
.receita form .btn-favorito {
    width: auto; /* Use "auto" para permitir que o conteúdo determine a largura */
    height: 36px; /* Altura desejada */
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    padding: 10px; /* Ajuste o padding conforme necessário */
}


.receita form .btn-curtir,
.receita form .btn-denunciar,
.receita form .btn-favorito {
    padding: 10px; /* Ajustei o padding para tornar menos "grosso" */
}

.btn-denunciar {
    background-color: #e74c3c;
    color: white;
}

.btn-curtir {
    background-color: #3498db;
    color: white;
}



.receita form span {
    margin-left: 10px;
    color: #777;
    font-size: 14px;
}

.receita form .btn-curtir,
.receita form .btn-denunciar,
.receita form .btn-favorito {
    border: none;
    cursor: pointer;
}

.receita form .btn-curtir {
    background-color: #3498db;
}

.receita form .btn-denunciar {
    background-color: #e74c3c;
}

.receita form .btn-favorito {
    background-color: #FFD700;
    border-radius: 8px;
}

.receita form .btn-curtir:hover {
    background-color: #2980b9;
}

.receita form .btn-denunciar:hover {
    background-color: #c0392b;
}

.receita form .btn-favorito:hover {
    background-color: #dab900;
}

.detalhe {
    text-decoration: none;
    color: #3498db;
}

.detalhe:hover {
    text-decoration: none;
    color: #2980b9;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#editForm {
    max-width: 100%;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button[type="submit"],
button[type="button"] {
    background-color: #008CBA;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 8px;
}

button[type="submit"]:hover,
button[type="button"]:hover {
    background-color: #006799;
}
